body{
    background-color: #dba307;
    text-align: center;
    font-family: Arial, sans-serif;
}
/* Ejercicio 1 */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Ejercicio 2 */

#stickers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 20px;
}
.Sticker-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.Sticker-container img {
    border: 2px solid black;
}

.Sticker-container input {
    width: 50px;
    height: 30px;
}
#pedir {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#pedir:hover {
    background-color: #3e8e41;
}
.btn {
    padding-top: 50px;    
}
